<div class="footer-clean">
  <div class="container">
    <div class="footer">
        <div class="row justify-content-center">
            <div class="col-sm-4 col-md-3 item">
                <h3>About us</h3>
                <ul>
                    <li>About</li>
                    <li>Jobs</li>
                    <li>Press</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Resources</h3>
                <ul>
                    <li>Open Source</li>
                    <li>Blog</li>
                    <li>The Art Genome Project</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3 item">
                <h3>Support</h3>
                <ul>
                    <li>Art Appraisals</li>
                    <li>Buying on Artsy</li>
                    <li>Benefits</li>
                </ul>
            </div>
            <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">Company Name © 2022</p>
            </div>
        </div>
    </div>
  </div>
</div>
