<div class="container container-f">

  <div class="row">
    <div class="col justify-items-center">
          <h3>About us</h3>
          <p>About</p>
          <p>Jobs</p>
          <p>Press</p>
    </div>
    <div class="col">
        <h3>Resources</h3>
        <p>Open Source</p>
        <p>Blog</p>
        <p>The Art Genome Project</p>
    </div>
    <div class="col">
        <h3>Support</h3>
        <p>Art Appraisals</p>
        <p>Buying on Artsy</p>
        <p>Benefits</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-auto item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
      <p>Company Name © 2022</p>
    </div>
  </div>

</div>
