<%= render "devise/shared/navbar" %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>My Artworks</h1>






<%= link_to "Sell", user_artworks_path(current_user) if user_signed_in? %>
<%= link_to "Buy", artworks_path %>
