<h1>Offers#show</h1>

<p>Offer ID: 00<%= @offer.id%></p>
<p>Price: $<%= @offer.amount%></p>
<p>Arwork Piece: 0<%= @offer.artwork_id%></p>
<p>Buyer ID: 00<%= @offer.buyer_id%></p>
<p>..show the artwork image..</p>
