.btn {
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-flex;
  margin: 5px;

  &:hover {
    text-decoration: underline;
    background-color: rgb(36, 36, 252);
  }
}

#btn-accordion {
  color: black;
  background-color: rgb(247, 243, 243);
  border: 1px;
}

#body-accordion {
  color: rgb(112, 112, 112);
  background-color: white;

}
