.container-index-art {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }



.card-body-index {
  color: black;
  font-size: 16px;
  line-height: 10px;
  font-family: ll-unica77, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  text-align: left;
  padding: 10px;
  // box-shadow: 10px 10px 5px lightgray;
}

.p-index {
  font-size: 24px;
}

.title-index-card{
  color:rgb(158, 158, 158);
  font-style: italic;
}

.price-index-card{
  font-size: 13px;
}

.title {
  justify-content: space-between;
  display: flex;
}

.card-product {
  overflow: hidden;
  height: 600px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding: 15px;
}

.card-product img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-product-infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-product-infos span {
  font-size: 26px;
  margin: 0;
  line-height: 32px;
  letter-spacing: -0.01em;
  font-family: ll-unica77, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}
.card-product-infos h1 {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: rgb(112, 112, 112);
  font-family: ll-unica77, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
}
.card-product-infos p {
  color: rgb(100, 98, 98)
}
#price {
margin-top: 20px;
font-size: 26px;
line-height: 40px;
letter-spacing: -0.01em;
color: rgb(0, 0, 0);
font-family: ll-unica77, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}
.card-product .card-product-infos {
  padding: 16px;
}
