.row.align-items-center{
  background-color: rgb(247, 247, 247);
}

.carousel-item {
  height: 32rem;
  background-size: cover;
}

.carousel-text h1 {
  align-items: center;
  width: 60%;
  font-family: ll-unica77, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
}

.col-md.py-2.first{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

.carousel-control-prev-icon {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

.carousel-control-next-icon {
  position: absolute;
  bottom: -20px;
  right: 20px;
}

.carousel-indicators {
  bottom: -20px;

  .indicator {
    opacity: 0.3;
    height: 1px;
    width: 100px;
  }

  .indicator.active {
    opacity: 1.0;
    width: 100px;
  }
}
.carousel.carousel-dark.slide .carousel-control-prev {

  width: 5%;
}
.carousel.carousel-dark.slide .carousel-control-next {

  width: 5%;
}
