.form-title {
  margin: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
}

.form-inputs{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(222, 223, 229);
    font-family: Helvetica, Arial, sans-serif;
    max-width: 600px;
    padding: 25px;
    border-radius: 5px;
    justify-content: center;
}

.form_actions {
    margin-top: 40px;

}
