.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px rgb(231, 231, 231) solid;

  .flex {
    display: inline-flex;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
